[Unit]
Description=OBD Docker display (user session)
Documentation=file:///home/jetson/Desktop/telematics_obd_deploy/obd/obd-apps.service
After=docker.service network-online.target
Wants=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/jetson/Desktop/telematics_obd_deploy

Environment=DISPLAY=:0
Environment=XAUTHORITY=/run/user/1000/gdm/Xauthority
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus
Environment=GDK_BACKEND=x11

ExecStart=/home/jetson/Desktop/telematics_obd_deploy/obd/start.sh
TimeoutStartSec=600

[Install]
WantedBy=default.target
